{{^comment.empty}}
    /**
{{#comment}}
     * {{{.}}}
{{/comment}}
     */
{{/comment.empty}}
{{#annotations}}
    {{{declaration}}}
{{/annotations}}
    {{{returnTypeName}}} {{name}}({{parameterDeclarations}});
